<div class="portfolio_full">

  <div class="porfolio--header">
    <a href="#" {{action "goToNext" id}} title="Previous project" class="portfolio--prev portfolio--nav">< prev</a>
    <a href="#" {{action "goToNext" id}} title="Next project" class="portfolio--next portfolio--nav">next ></a>
    <h2 class="heading-two">{{title}} {{hasNext}}</h2>
    <!-- <a href="#" {{action "goHome"}} title="Close project">x close</a> -->
  </div>
  <div class="portfolio--container">
    <div class="portfolio--images">
      <div class="fotorama" data-width="100%" data-nav="thumbs" data-loop="true" data-max-height="800">

        {{#if image_src}}
          <img {{bind-attr src=imagePath}} />
        {{/if}}
        {{#if images}}
          {{#each images}}
            <img {{bind-attr src=this}} />
          {{/each}}
        {{/if}}
      </div>
    </div>
    {{#if description}}
      <div class="portfolio--description">
        {{description}}
      </div>
    {{/if}}
  </div>
</div>