<div class="portfolio_full">

  <div class="porfolio--header">
    {{!-- <a href="#" {{action "previous"}} title="Previous project" class="portfolio--prev portfolio--nav"><<span> prev</span></a>
    <a href="#" {{action "next"}} title="Next project" class="portfolio--next portfolio--nav"><span>next </span>></a> --}}
    <h2 class="heading-two">{{title}}</h2>
  </div>
  <div class="portfolio--container">
    <div class="portfolio--images">
      {{#if video}}
        <div class="portfolio--video">
          <video controls>
            <source {{bind-attr src=videoWebM}} type="video/webm">
            <source {{bind-attr src=videoOggV}} type="video/ogg">
            <img {{bind-attr src=imagePath}} />
          </video>
        </div>
      {{else}}
        <div class="fotorama" data-width="100%" data-nav="thumbs" data-loop="true" data-max-height="800" data-fit="scaledown" data-arrows="false" data-allowfullscreen="true">
          {{#if image_src}}
            <img {{bind-attr src=imagePath}} />
          {{/if}}
          {{#if images}}
            {{#each images}}
              <img {{bind-attr src=this}} />
            {{/each}}
          {{/if}}
        </div>
      {{/if}}
    </div>
    {{#if agency}}
      <div class="portfolio--meta">
        <strong>Agency:</strong> {{agency}}
      </div>
    {{/if}}
    {{#if description}}
      <div class="portfolio--description content">
        {{{description}}}
      </div>
    {{/if}}
  </div>
</div>